<div class="card" >
  <h4 class="card-header">Select Param you want to filter</h4>
  <div id="contentform">
    <div class="card-block">
      <div class="form-group">
      
      <form class="form-inline" #form="ngForm" (ngSubmit)="createForm()" style="display:inline">
          <table class="table table-bordered table-striped">
            <tr>
              <td>
              <label for="one"></label>
                <select class="form-control" (ngModelChange)="capt($event)" [(ngModel)]="params.one" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let param of params" [ngValue]="param">{{param}}</option>
                </select>
              </td>
            </tr>
           </table>
           <table class="table table-bordered table-striped">
            <tr>
              <td>

                <select class="form-control" (ngModelChange)="capt($event)" [(ngModel)]="params.two" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let param of params" [ngValue]="param">{{param}}</option>
                </select>
              </td>
            </tr>
           </table>
           <table class="table table-bordered table-striped">
            <tr>
              <td>

                <select class="form-control" (ngModelChange)="capt($event)" [(ngModel)]="params.three" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let param of params" [ngValue]="param">{{param}}</option>
                </select>
              </td>
            </tr>
           </table>
           <table class="table table-bordered table-striped">
            <tr>
              <td>
                <select class="form-control" (ngModelChange)="capt($event)" [(ngModel)]="params.four" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let param of params" [ngValue]="param">{{param}}</option>
                </select>
              </td>
            </tr>
           </table>
           <table class="table table-bordered table-striped">
            <tr>
              <td>
                <select class="form-control" (ngModelChange)="capt($event)" [(ngModel)]="params.five" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let param of params" [ngValue]="param">{{param}}</option>
                </select>
              </td>
            </tr>
           </table>
           <table class="table table-bordered table-striped">
            <tr>
              <td>
                <select class="form-control" (ngModelChange)="capt($event)" [(ngModel)]="params.six" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let param of params" [ngValue]="param">{{param}}</option>
                </select>
              </td>
            </tr>
           </table>
           <table class="table table-bordered table-striped">
            <tr>
              <td>
                <select class="form-control" (ngModelChange)="capt($event)" [(ngModel)]="params.seven" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let param of params" [ngValue]="param">{{param}}</option>
                </select>
              </td>
            </tr>
           </table>
           <table class="table table-bordered table-striped">
            <tr>
              <td>
                <select class="form-control" (ngModelChange)="capt($event)" [(ngModel)]="params.eight" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let param of params" [ngValue]="param">{{param}}</option>
                </select>
              </td>
            </tr>
           </table>
           <table class="table table-bordered table-striped">
            <tr>
              <td>
                <select class="form-control" (ngModelChange)="capt($event)" [(ngModel)]="params.nine" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let param of params" [ngValue]="param">{{param}}</option>
                </select>
              </td>
            </tr>
           </table>
           <table class="table table-bordered table-striped">
            <tr>
              <td>
                <select class="form-control" (ngModelChange)="capt($event)" [(ngModel)]="params.ten" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let param of params" [ngValue]="param">{{param}}</option>
                </select>
              </td>
            </tr>
           </table>
           <table class="table table-bordered table-striped">
            <tr>
              <td>
                <select class="form-control" (ngModelChange)="capt($event)" [(ngModel)]="params.eleven" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let param of params" [ngValue]="param">{{param}}</option>
                </select>
              </td>
            </tr>
           </table>
           <table class="table table-bordered table-striped">
            <tr>
              <td>
                <select class="form-control" (ngModelChange)="capt($event)" [(ngModel)]="params.twelve" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let param of params" [ngValue]="param">{{param}}</option>
                </select>
              </td>
            </tr>
           </table>
           <table class="table table-bordered table-striped">
            <tr>
              <td>
                <select class="form-control" (ngModelChange)="capt($event)" [(ngModel)]="params.thirteen" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let param of params" [ngValue]="param">{{param}}</option>
                </select>
              </td>
            </tr>
           </table>
           <table class="table table-bordered table-striped">
            <tr>
              <td>
                <select class="form-control" (ngModelChange)="capt($event)" [(ngModel)]="params.fourteen" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let param of params" [ngValue]="param">{{param}}</option>
                </select>
              </td>
            </tr>
           </table>
           <table class="table table-bordered table-striped">
            <tr>
              <td>
                <select class="form-control" (ngModelChange)="capt($event)" [(ngModel)]="params.fifteen" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let param of params" [ngValue]="param">{{param}}</option>
                </select>
              </td>
            </tr>
           </table>
           <table class="table table-bordered table-striped">
            <tr>
              <td>
                <select class="form-control" (ngModelChange)="capt($event)" [(ngModel)]="params.sixteen" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let param of params" [ngValue]="param">{{param}}</option>
                </select>
              </td>
            </tr>
           </table>
           <table class="table table-bordered table-striped">
            <tr>
              <td>
                <select class="form-control" (ngModelChange)="capt($event)" [(ngModel)]="params.seventeen" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let param of params" [ngValue]="param">{{param}}</option>
                </select>
              </td>
            </tr>
           </table>
           <table class="table table-bordered table-striped">
            <tr>
              <td>
                <select class="form-control" (ngModelChange)="capt($event)" [(ngModel)]="params.eighteen" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let param of params" [ngValue]="param">{{param}}</option>
                </select>
              </td>
            </tr>
           </table>
           <table class="table table-bordered table-striped">
            <tr>
              <td>
                <select class="form-control" (ngModelChange)="capt($event)" [(ngModel)]="params.nineteen" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let param of params" [ngValue]="param">{{param}}</option>
                </select>
              </td>
            </tr>
           </table>
           <table class="table table-bordered table-striped">
            <tr>
              <td>
                <select class="form-control" (ngModelChange)="capt($event)" [(ngModel)]="params.twenty" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let param of params" [ngValue]="param">{{param}}</option>
                </select>
              </td>
            </tr>
           </table>
            <button class="btn btn-primary" type="submit">Go</button>
      </form>
      </div>
    </div>
  </div>
</div>
